./interpreter/demos/models
./interpreter/demos/models
./interpreter/demos/html
./interpreter/demos/*.pdf
./interpreter/demos/*.png
**/.DS_*
**/*.pyc
**/__pycache*
**/uploads/
interpreter/uploads
**/*_venv/
**/node_modules/
