doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title EBPP
  body
    .header
      h1.page-title The EBPP

    ul.nav
      li: a(href='/') EBPP Tool
        li: a(href='http://www.jesssullivan.co/') Go To Jesssullivan.co?

.main-content
    h1 Fill in the blanks by clicking the EBPP Tool above.
    include ebpp_form.html
    - if(D)
     h1 The likelihood score for #{SP} on #{D} is #{func_h}.  (This is on a 0-1 scale)
.footer
    p  - Jess Sullivan -

