/**
 * Body CSS
 */

html,
body {
  height: 100%;
   overflow-x:hidden;
}
.row {
  display: flex;
}

.column {
  flex: auto;
}
html,
body,
input,
textarea,

button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

li {
    list-style-type: none;
}

ul {
    list-style-type: none;
}

.benigncenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.benigncenter div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
 * Header CSS
 */

header {
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 80000;
}

header ul.mui-list--inline {
  margin-bottom: 0;
}

header a {
  color: white;
}

header table {
  width: 100%;
}

/**
 * Content CSS
 */

#content-wrapper {
  min-height: 100%;

  /* sticky footer */
  box-sizing: border-box;
  margin-bottom: -100px;
  padding-bottom: 100px;
}

canvas.visualizer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
 * Footer CSS
 */

footer {
  box-sizing: border-box;
  height: 100px;
  background-color: #eee;
  border-top: 1px solid #e0e0e0;
  padding-top: 35px;
}


#specContainer{
  width: 100%;
}

#specImageHolder{
  overflow-x: auto;
}

button svg{
  transform:translateY(-.05rem);
  fill:#000;
  width:1.4rem
}
button:active svg{
  transform:translateY(0)
}
button:disabled svg{
  fill:#e50000
}

#recordButton:disabled svg{fill:#e50000}



/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  justify-content: center;
  justify-items: center;
  justify-self: center;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 14px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
